---
layout: page
description: "我当然知道柏拉图的亚特兰蒂斯从来没有存在过，但正是因为这一点，它也永远不会灭亡。
它永远是一个理念，是完美的梦想，是不断激励后人的目标。
因此，这首交响曲的末尾，是在斗志昂扬地朝未来进军。
——阿瑟.克拉克《遥远的地球之歌》"
---

<!--
<ul class="pager">
  
    <li class="next">
        <a href="https://swordreforge.github.io/1-resources/" data-toggle="tooltip" data-placement="top" title="我的资源">
                        fetch<br>
        </a>
    </li>           
  
    <li class="next">
        <a href="https://swordreforge.github.io/2018/12/10/三叶语简介/" data-toggle="tooltip" data-placement="top" title="教程文档">
                        了解更多<br>
        </a>
    </li>
                    
</ul>
-->

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
